<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCNj9ry5YKW5jDYcT6vA67i7iWAE1t6rU</string>
	<key>GCM_SENDER_ID</key>
	<string>971712694959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile-lab8</string>
	<key>PROJECT_ID</key>
	<string>mobile-lab-8a51f</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-lab-8a51f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971712694959:ios:db2f830be73ee4e8eda25a</string>
</dict>
</plist>